# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Streamlit local configurations
.streamlit/secrets.toml

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo
